{% extends "layout.html" %}
{% block content %}

<!-- Upload Buttons -->
{% if not images %}
<h3>表情分析したい画像を選択してください。</h3>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" id="file" name="image" accept="image/png, image/jpeg">
  <input type="submit" value="送信する" id="submit">
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("submit").disabled = true;
    }, false);

    document.getElementById("file").addEventListener("change", function () {
        if (document.getElementById("file").files.length > 0) {
            document.getElementById("submit").disabled = false;
        }
    }, false);
</script>
{% endif %}
<!-- /Upload Buttons -->

<!-- Face Selection -->
{% if images %}
<form action="/predict" method="post">

<select id="select_face" name="select_face">
  <option hidden>顔画像を選択してください</option>
  {% for path in images %}
    <option value={{ path }}>{{ path }}</option>
  {% endfor %}
  <option value="null">Not Exist</option>
</select>

<input type="submit" value="送信する" id="candidate_submit">
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("candidate_submit").disabled = true;
    }, false);
    document.getElementById("select_face").addEventListener("change", function () {
      document.getElementById("candidate_submit").disabled = false;
    }, false);
</script>


<!-- Images -->
{% for path in images %}
  <div>
    <img src="images/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
    {{ path }}
  </div>
{% endfor %}
{% endif %}
<!-- /Face Selection -->

{% endblock %}
